{% extends "base.html" %} {% block content %}

<div class="main">
  <div class="title">
    <h3>Image Classifier</h3>
    <!-- <p>
      <small>A web app demo</small>
    </p> -->
  </div>

<form action="{{ url_for('predict') }}" method="post">
  <div class="panel">
  
    <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" name="image"/>
    <label for="file-upload" id="file-drag" class="upload-box">
      <div id="upload-caption">Drop image here or click to select</div>
      <img id="image-preview" class="hidden" />
    </label>
  <!--</div>
  <div style="margin-bottom: 2rem;"> -->
    <input type="submit" value="Submit" class="button"/>
    <input type="button" value="Clear" class="button" onclick="clearImage();" />
  </div>
</form>

  <div>
    <h4>Probability:{{max_probability}}</h4>
    <h4>Predicted class: {{predicted_class}}</h4>
  </div>

<!--<div id="image-box">
    <img id="image-display" />
    <div id="pred-result" class="hidden"></div>
    <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
  </div>
</div> -->

{% endblock %}
